In [1]:
# Importing libraries 
import os 
import pandas as pd 
import requests

#Load .env
from dotenv import load_dotenv

In [2]:
# Loading access keys 
load_dotenv()

API_KEY = os.getenv("API_KEY")

accept = os.getenv("accept")
Authorization = os.getenv("Authorization")

In [3]:
path1 = "../ml-latest-small/ratings.csv"
path2 = "../ml-latest-small/movies.csv"
path3 = "../ml-latest-small/links.csv"

In [4]:
movies_df = pd.read_csv(path2)
movies_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [5]:
links_df =  pd.read_csv(path3)

links_df.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

# Get a list of all the tmbdID

In [6]:
# Check links_df info
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [7]:
# Delete row with null values
links_df = links_df.dropna()

In [8]:
# Convert float to int
links_df["tmdbId"] = links_df["tmdbId"].astype(int)

In [9]:
links_df.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

# API call to create a dataframe that contain all the movie recommendation

In [10]:
# Testing api call
import requests

url = "https://api.themoviedb.org/3/movie/862/recommendations?language=en-US&page=1"

headers = {
    "accept": accept,
    "Authorization": Authorization
}

response = requests.get(url, headers=headers).json()

print(response['results'])

[{'adult': False, 'backdrop_path': '/91qfG6VaxRsCh1SbIi1w2vxknsL.jpg', 'id': 863, 'title': 'Toy Story 2', 'original_language': 'en', 'original_title': 'Toy Story 2', 'overview': "Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's toys mount a daring rescue mission, Buzz Lightyear meets his match and Woody has to decide where he and his heart truly belong.", 'poster_path': '/2MFIhZAW0CVlEQrFyqwa4U6zqJP.jpg', 'media_type': 'movie', 'genre_ids': [16, 35, 10751], 'popularity': 99.291, 'release_date': '1999-10-30', 'video': False, 'vote_average': 7.591, 'vote_count': 13221}, {'adult': False, 'backdrop_path': '/uAfhsySkr1UzQg1zdg3dZQRz9Fd.jpg', 'id': 10193, 'title': 'Toy Story 3', 'original_language': 'en', 'original_title': 'Toy Story 3', 'overview': "Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys must band together to escape and return home to Andy.", 'poster_path': '/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg', 'media_type': 'movie', 'genre_ids': [16, 10751, 35], 'popularity': 60.55, 'release_date': '2010-06-16', 'video': False, 'vote_average': 7.795, 'vote_count': 14069}, {'adult': False, 'backdrop_path': '/hwwFyowfcbLRVmRBOkvnABBNIOs.jpg', 'id': 9487, 'title': "A Bug's Life", 'original_language': 'en', 'original_title': "A Bug's Life", 'overview': 'On behalf of "oppressed bugs everywhere," an inventive ant named Flik hires a troupe of warrior bugs to defend his bustling colony from a horde of freeloading grasshoppers led by the evil-minded Hopper.', 'poster_path': '/Ah3J9OJVc2CNCuH2zMydXy9fmIC.jpg', 'media_type': 'movie', 'genre_ids': [12, 16, 35, 14, 10751], 'popularity': 75.193, 'release_date': '1998-11-25', 'video': False, 'vote_average': 6.969, 'vote_count': 8734}, {'adult': False, 'backdrop_path': '/wXsQvli6tWqja51pYxXNG1LFIGV.jpg', 'id': 8587, 'title': 'The Lion King', 'original_language': 'en', 'original_title': 'The Lion King', 'overview': 'A young lion prince is cast out of his pride by his cruel uncle, who claims he killed his father. While the uncle rules with an iron paw, the prince grows up beyond the Savannah, living by a philosophy: No worries for the rest of your days. But when his past comes to haunt him, the young prince must decide his fate: Will he remain an outcast or face his demons and become what he needs to be?', 'poster_path': '/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg', 'media_type': 'movie', 'genre_ids': [10751, 16, 18], 'popularity': 85.597, 'release_date': '1994-06-24', 'video': False, 'vote_average': 8.257, 'vote_count': 17433}, {'adult': False, 'backdrop_path': '/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg', 'id': 585, 'title': 'Monsters, Inc.', 'original_language': 'en', 'original_title': 'Monsters, Inc.', 'overview': "Lovable Sulley and his wisecracking sidekick Mike Wazowski are the top scare team at Monsters, Inc., the scream-processing factory in Monstropolis. When a little girl named Boo wanders into their world, it's the monsters who are scared silly, and it's up to Sulley and Mike to keep her out of sight and get her back home.", 'poster_path': '/wFSpyMsp7H0ttERbxY7Trlv8xry.jpg', 'media_type': 'movie', 'genre_ids': [16, 35, 10751], 'popularity': 106.957, 'release_date': '2001-11-01', 'video': False, 'vote_average': 7.842, 'vote_count': 17636}, {'adult': False, 'backdrop_path': '/se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg', 'id': 9806, 'title': 'The Incredibles', 'original_language': 'en', 'original_title': 'The Incredibles', 'overview': "Bob Parr has given up his superhero days to log in time as an insurance adjuster and raise his three children with his formerly heroic wife in suburbia. But when he receives a mysterious assignment, it's time to get back into costume.", 'poster_path': '/2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg', 'media_type': 'movie', 'genre_ids': [28, 12, 16, 10751], 'popularity': 63.791, 'release_date': '2004-10-27', 'video': False, 'vote_average': 7.703, 'vote_count': 16948}, {'adult': False, 'backdrop_path': '/hGGC9gKo7CFE3fW07RA587e5kol.jpg', 'id': 14160, 'title': 'Up', 'original_language': 'en', 'original_title': 'Up', 'overview': 'Carl Fredricksen spent his entire life dreaming of exploring the globe and experiencing life to its fullest. But at age 78, life seems to have passed him by, until a twist of fate (and a persistent 8-year old Wilderness Explorer named Russell) gives him a new lease on life.', 'poster_path': '/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg', 'media_type': 'movie', 'genre_ids': [16, 35, 10751, 12], 'popularity': 93.613, 'release_date': '2009-05-28', 'video': False, 'vote_average': 7.955, 'vote_count': 19341}, {'adult': False, 'backdrop_path': '/eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg', 'id': 12, 'title': 'Finding Nemo', 'original_language': 'en', 'original_title': 'Finding Nemo', 'overview': "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.", 'poster_path': '/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg', 'media_type': 'movie', 'genre_ids': [16, 10751], 'popularity': 81.056, 'release_date': '2003-05-30', 'video': False, 'vote_average': 7.824, 'vote_count': 18455}, {'adult': False, 'backdrop_path': '/dYjZ27hDw2QFaEIfzbNGwW0IkV9.jpg', 'id': 807, 'title': 'Se7en', 'original_language': 'en', 'original_title': 'Se7en', 'overview': 'Two homicide detectives are on a desperate hunt for a serial killer whose crimes are based on the "seven deadly sins" in this dark and haunting film that takes viewers from the tortured remains of one victim to the next. The seasoned Det. Sommerset researches each sin in an effort to get inside the killer\'s mind, while his novice partner, Mills, scoffs at his efforts to unravel the case.', 'poster_path': '/6yoghtyTpznpBik8EngEmJskVUO.jpg', 'media_type': 'movie', 'genre_ids': [80, 9648, 53], 'popularity': 72.321, 'release_date': '1995-09-22', 'video': False, 'vote_average': 8.4, 'vote_count': 20000}, {'adult': False, 'backdrop_path': '/fK5ssgvtI43z19FoWigdlqgpLRE.jpg', 'id': 10681, 'title': 'WALL·E', 'original_language': 'en', 'original_title': 'WALL·E', 'overview': "What if mankind had to leave Earth and somebody forgot to turn the last robot off? After hundreds of years doing what he was built for, WALL•E discovers a new purpose in life when he meets a sleek search robot named EVE. EVE comes to realize that WALL•E has inadvertently stumbled upon the key to the planet's future, and races back to space to report to the humans. Meanwhile, WALL•E chases EVE across the galaxy and sets into motion one of the most imaginative adventures ever brought to the big screen.", 'poster_path': '/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg', 'media_type': 'movie', 'genre_ids': [16, 10751, 878], 'popularity': 73.838, 'release_date': '2008-06-22', 'video': False, 'vote_average': 8.085, 'vote_count': 17903}, {'adult': False, 'backdrop_path': '/qdIMHd4sEfJSckfVJfKQvisL02a.jpg', 'id': 13, 'title': 'Forrest Gump', 'original_language': 'en', 'original_title': 'Forrest Gump', 'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.', 'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg', 'media_type': 'movie', 'genre_ids': [35, 18, 10749], 'popularity': 67.057, 'release_date': '1994-06-23', 'video': False, 'vote_average': 8.477, 'vote_count': 26170}, {'adult': False, 'backdrop_path': '/xgDj56UWyeWQcxQ44f5A3RTWuSs.jpg', 'id': 2062, 'title': 'Ratatouille', 'original_language': 'en', 'original_title': 'Ratatouille', 'overview': "Remy, a resident of Paris, appreciates good food and has quite a sophisticated palate. He would love to become a chef so he can create and enjoy culinary masterpieces to his heart's delight. The only problem is, Remy is a rat. When he winds up in the sewer beneath one of Paris' finest restaurants, the rodent gourmet finds himself ideally placed to realize his dream.", 'poster_path': '/t3vaWRPSf6WjDSamIkKDs1iQWna.jpg', 'media_type': 'movie', 'genre_ids': [16, 35, 10751, 14], 'popularity': 93.346, 'release_date': '2007-06-28', 'video': False, 'vote_average': 7.816, 'vote_count': 16175}, {'adult': False, 'backdrop_path': '/sRvXNDItGlWCqtO3j6wks52FmbD.jpg', 'id': 808, 'title': 'Shrek', 'original_language': 'en', 'original_title': 'Shrek', 'overview': "It ain't easy bein' green -- especially if you're a likable (albeit smelly) ogre named Shrek. On a mission to retrieve a gorgeous princess from the clutches of a fire-breathing dragon, Shrek teams up with an unlikely compatriot -- a wisecracking donkey.", 'poster_path': '/iB64vpL3dIObOtMZgX3RqdVdQDc.jpg', 'media_type': 'movie', 'genre_ids': [16, 35, 14, 12, 10751], 'popularity': 102.564, 'release_date': '2001-05-18', 'video': False, 'vote_average': 7.735, 'vote_count': 16239}, {'adult': False, 'backdrop_path': '/q62bpQ67qaXY0u6b2wFEnQYIbPd.jpg', 'id': 301528, 'title': 'Toy Story 4', 'original_language': 'en', 'original_title': 'Toy Story 4', 'overview': 'Woody has always been confident about his place in the world and that his priority is taking care of his kid, whether that\'s Andy or Bonnie. But when Bonnie adds a reluctant new toy called "Forky" to her room, a road trip adventure alongside old and new friends will show Woody how big the world can be for a toy.', 'poster_path': '/w9kR8qbmQ01HwnvK4alvnQ2ca0L.jpg', 'media_type': 'movie', 'genre_ids': [10751, 12, 16, 35, 14], 'popularity': 66.654, 'release_date': '2019-06-19', 'video': False, 'vote_average': 7.507, 'vote_count': 9312}, {'adult': False, 'backdrop_path': '/d1RHScaZc7I8j0lDke1c4AxI435.jpg', 'id': 9502, 'title': 'Kung Fu Panda', 'original_language': 'en', 'original_title': 'Kung Fu Panda', 'overview': 'When the Valley of Peace is threatened, lazy Po the panda discovers his destiny as the "chosen one" and trains to become a kung fu hero, but transforming the unsleek slacker into a brave warrior won\'t be easy. It\'s up to Master Shifu and the Furious Five -- Tigress, Crane, Mantis, Viper and Monkey -- to give it a try.', 'poster_path': '/wWt4JYXTg5Wr3xBW2phBrMKgp3x.jpg', 'media_type': 'movie', 'genre_ids': [28, 12, 16, 10751, 35], 'popularity': 82.582, 'release_date': '2008-06-04', 'video': False, 'vote_average': 7.261, 'vote_count': 10844}, {'adult': False, 'backdrop_path': '/usw8PMcbWqAtmABo2jO7KRRSrqi.jpg', 'id': 6479, 'title': 'I Am Legend', 'original_language': 'en', 'original_title': 'I Am Legend', 'overview': 'Robert Neville is a scientist who was unable to stop the spread of the terrible virus that was incurable and man-made. Immune, Neville is now the last human survivor in what is left of New York City and perhaps the world. For three years, Neville has faithfully sent out daily radio messages, desperate to find any other survivors who might be out there. But he is not alone.', 'poster_path': '/iPDkaSdKk2jRLTM65UOEoKtsIZ8.jpg', 'media_type': 'movie', 'genre_ids': [18, 878, 53], 'popularity': 62.679, 'release_date': '2007-12-12', 'video': False, 'vote_average': 7.201, 'vote_count': 15059}, {'adult': False, 'backdrop_path': '/sd4xN5xi8tKRPrJOWwNiZEile7f.jpg', 'id': 920, 'title': 'Cars', 'original_language': 'en', 'original_title': 'Cars', 'overview': "Lightning McQueen, a hotshot rookie race car driven to succeed, discovers that life is about the journey, not the finish line, when he finds himself unexpectedly detoured in the sleepy Route 66 town of Radiator Springs. On route across the country to the big Piston Cup Championship in California to compete against two seasoned pros, McQueen gets to know the town's offbeat characters.", 'poster_path': '/abW5AzHDaIK1n9C36VdAeOwORRA.jpg', 'media_type': 'movie', 'genre_ids': [16, 12, 35, 10751], 'popularity': 64.043, 'release_date': '2006-06-08', 'video': False, 'vote_average': 6.953, 'vote_count': 13252}, {'adult': False, 'backdrop_path': '/bGksau9GGu0uJ8DJQ8DYc9JW5LM.jpg', 'id': 77338, 'title': 'The Intouchables', 'original_language': 'fr', 'original_title': 'Intouchables', 'overview': 'A true story of two men who should never have met – a quadriplegic aristocrat who was injured in a paragliding accident and a young man from the projects.', 'poster_path': '/1QU7HKgsQbGpzsJbJK4pAVQV9F5.jpg', 'media_type': 'movie', 'genre_ids': [18, 35], 'popularity': 53.685, 'release_date': '2011-11-02', 'video': False, 'vote_average': 8.28, 'vote_count': 16549}, {'adult': False, 'backdrop_path': '/tupgjqhWx5oieQrdyesO3aclUX9.jpg', 'id': 597, 'title': 'Titanic', 'original_language': 'en', 'original_title': 'Titanic', 'overview': "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.", 'poster_path': '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg', 'media_type': 'movie', 'genre_ids': [18, 10749], 'popularity': 109.267, 'release_date': '1997-11-18', 'video': False, 'vote_average': 7.9, 'vote_count': 24273}, {'adult': False, 'backdrop_path': '/pkxPkHOPJjOvzfQOclANEBT8OfK.jpg', 'id': 675, 'title': 'Harry Potter and the Order of the Phoenix', 'original_language': 'en', 'original_title': 'Harry Potter and the Order of the Phoenix', 'overview': 'Returning for his fifth year of study at Hogwarts, Harry is stunned to find that his warnings about the return of Lord Voldemort have been ignored. Left with no choice, Harry takes matters into his own hands, training a small group of students to defend themselves against the dark arts.', 'poster_path': '/5aOyriWkPec0zUDxmHFP9qMmBaj.jpg', 'media_type': 'movie', 'genre_ids': [12, 14], 'popularity': 110.793, 'release_date': '2007-07-08', 'video': False, 'vote_average': 7.682, 'vote_count': 18655}, {'adult': False, 'backdrop_path': '/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg', 'id': 150540, 'title': 'Inside Out', 'original_language': 'en', 'original_title': 'Inside Out', 'overview': "Growing up can be a bumpy road, and it's no exception for Riley, who is uprooted from her Midwest life when her father starts a new job in San Francisco. Riley's guiding emotions— Joy, Fear, Anger, Disgust and Sadness—live in Headquarters, the control centre inside Riley's mind, where they help advise her through everyday life and tries to keep things positive, but the emotions conflict on how best to navigate a new city, house and school.", 'poster_path': '/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg', 'media_type': 'movie', 'genre_ids': [16, 10751, 12, 18, 35], 'popularity': 115.344, 'release_date': '2015-06-09', 'video': False, 'vote_average': 7.918, 'vote_count': 20009}]

In [11]:
# API call for the first 50 movies in the links_df
movie_titles = []
movie_id = []
movie_plot = []
movie_poster = []
movie_genre = []
movie_imdbid_list = []

# Get recommendations for the first 50 movies from the api 
for i in range(0,50):
    print(i)
    movie_tmdbid = links_df["tmdbId"][i]
    
    
    #Set up url 
    url = "https://api.themoviedb.org/3/movie/" + str(movie_tmdbid) + "/recommendations?language=en-US&page=1"
    
    #Set up headers -- .env contains keys 
    headers = {
        "accept": accept,
        "Authorization": Authorization
    }
        
    response = requests.get(url, headers=headers).json()
    for j in range(0,10):
        movie_titles.append(response['results'][j]['title'])
        movie_id.append(response['results'][j]['id'])
        movie_plot.append(response['results'][j]['overview'])
        movie_genre.append(response['results'][j]['genre_ids'])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [12]:
# Adding the first 50 movies in links_df into the dataframe
for i in range(0,50):
    print(i)
    movie_tmdbid = links_df["tmdbId"][i]
    
    #Set up url 
    url = "https://api.themoviedb.org/3/movie/" + str(movie_tmdbid) + "?language=en-US"
    

    headers = {
        "accept": accept,
        "Authorization": Authorization
    }

    response = requests.get(url, headers=headers).json()
#     print(response)
    movie_titles.append(response['title'])
    movie_id.append(response['id'])
    movie_plot.append(response['overview'])
    movie_genre.append(response['genres'][0]['id'])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [13]:
len(movie_id)

550

In [14]:
imdb_id = []
for i in movie_id:
    print(i)
    #Set up url 
    url = "https://api.themoviedb.org/3/movie/" + str(i) + "?language=en-US"


    headers = {
        "accept": accept,
        "Authorization": Authorization
    }

    response = requests.get(url, headers=headers).json()
    imdb_id.append(response["imdb_id"])

863
10193
9487
8587
585
9806
14160
12
807
10681
353486
1593
6795
788
329
512200
862
879
489
771
11520
862
2619
9552
346364
49687
1813
9360
239
11777
245891
335983
10625
619
301337
1443
453
9737
607259
9090
11846
11007
881
12085
6520
27205
37799
297761
177572
771
524
111
9366
807
103
1538
769
2118
393
117
6620
9331
140607
75656
6068
5503
804
2288
4477
414
22582
5769
49018
9820
17654
381289
105
302946
37135
12233
8831
2019
9593
9103
9405
9594
9349
11667
10861
19995
714
658
36643
36669
36557
709
646
206647
1366
862
881
157336
181808
1359
49530
271110
274
2649
105
402
8005
36593
30197
37136
3034
11918
10897
19995
856
17654
25913
3170
15789
8839
34942
9023
12144
13700
862
19995
12117
314365
106646
524
4347
820
607
88794
450465
624
27205
497698
8844
10057
258489
585
282035
121
1573
293863
769
1578
949
1598
106646
103
1422
13223
311
2118
4348
38684
4347
2977
3573
508
712
281957
38757
11036
755
680
184
6
1991
241
285923
8068
187
16869
3049
1624
9894
414
8467
854
2123
15338
37165
812
10538
7303
9416
9869
314365
771
578
13223
1091
396535
4551
12106
680
862
8963
586
129
9533
8645
9390
8077
102899
350
480530
10014
11566
315837
287947
324857
381283
2636
9482
9874
9268
2142
9279
819
9972
157336
9618
7350
4476
9294
539
460465
284054
392044
520763
346364
726209
496243
187
2108
4232
1923
1621
8068
9802
34544
795
329865
118
807
492188
7326
268896
277
287495
84287
450322
8839
2108
106646
807
578
570670
10439
424
402900
252
13949
4584
18093
45269
4348
38684
153
10201
8321
134
155
129
782
2841
2666
892
1272
194
110415
207
244786
281338
337674
11507
18329
31439
46767
45706
10681
293660
278
364
284054
635302
9344
1646
22683
10681
157336
10395
807
62
107
603
629
180
628
389
745
218
9447
8839
3050
21032
9737
10137
10530
52449
9312
11674
470
6075
278
862
275
88
2898
53487
157336
381341
11025
20048
54004
19995
9820
10330
62213
258489
112949
38117
10625
4951
8835
9377
2108
10096
37735
796
454983
114150
150354
94440
840127
457157
857777
100287
723745
1211262
750145
598652
8844
99861
405774
46195
4978
13475
10215
7555
1541
25468
520763
475557
856
419430
581726
20504
4133
489
597922
341013
157336
2493
298382
712
9313
504608
63
1858
9889
121674
9823
460465
257344
11667
8814
13051
121856
664767
1996
278
414
1933
489
98
773
590
27205
22881
12
155
1359
3558
13
70160
97630
1443
25376
359156
96724
451
274
629
27205
550
11324
680
101
210577
77
694
13761
10545
10674
37135
862
8587
10144
11970
10895
3170
375262
16996
1544
44113
2163
15647
8874
56743
459225
9709
807
680
278
101
77
694
274
550
500
670
9716
11382
28384
10569
2779
11337
2639
30890
19200
303542
303
11020
24653
10395
393559
46829
1414
418879
52258
49479
399566
710
392044
96721
766507
8844
818397
481084
13997
150540
862
8844
15602
31357
11862
949
11860
45325
9091
710
9087
12110
21032
10858
1408
524
4584
5
9273
11517
8012
1710
9691
12665
451
16420
9263
17015
902
37557
9909
63
9598
687
33689
9603
34615
31174
11443
35196
9312
577
11861
807
10530
8391
629
11448
49133
26441

In [15]:
imdb_id[0:5]

['tt0120363', 'tt0435761', 'tt0120623', 'tt0110357', 'tt0198781']

In [16]:
test = pd.DataFrame({"id":movie_id,"imdb_id":imdb_id, "Title":movie_titles,"Genre":movie_genre,"Plot":movie_plot})

In [17]:
test.head()

,id,imdb_id,Title,Genre,Plot
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy..."
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven..."
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i..."
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...

In [18]:
test["id"]

0        863
1      10193
2       9487
3       8587
4        585
       ...
545     8391
546      629
547    11448
548    49133
549    26441
Name: id, Length: 550, dtype: int64

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       550 non-null    int64
 1   imdb_id  546 non-null    object
 2   Title    550 non-null    object
 3   Genre    550 non-null    object
 4   Plot     550 non-null    object
dtypes: int64(1), object(4)
memory usage: 21.6+ KB

In [20]:
test = test.dropna().reset_index(drop=True)

In [21]:
test["imdb_id"][360:363]

360    tt0256908
361    tt0094783
362
Name: imdb_id, dtype: object

In [22]:
len(test)

546

In [23]:
len(test[test['imdb_id'].astype(bool)])

545

In [24]:
test.iloc[362]

id                                                    457157
imdb_id
Title                                                 Qwerty
Genre                                        [16, 18, 10751]
Plot       A grieving young inventor finds solace in repa...
Name: 362, dtype: object

In [25]:
# Mannually insert imdb_id for Qwerty
test["imdb_id"][362] = "tt1591071"

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_25812/3083332445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["imdb_id"][362] = "tt1591071"

In [26]:
test.iloc[362]

id                                                    457157
imdb_id                                            tt1591071
Title                                                 Qwerty
Genre                                        [16, 18, 10751]
Plot       A grieving young inventor finds solace in repa...
Name: 362, dtype: object

In [27]:
test.iloc[361]

id                                                     94440
imdb_id                                            tt0094783
Title                                              The Boost
Genre                                            [18, 10749]
Plot       Lenny Brown moves to California to find his fo...
Name: 361, dtype: object

In [28]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       546 non-null    int64
 1   imdb_id  546 non-null    object
 2   Title    546 non-null    object
 3   Genre    546 non-null    object
 4   Plot     546 non-null    object
dtypes: int64(1), object(4)
memory usage: 21.5+ KB

In [29]:
test.head()

,id,imdb_id,Title,Genre,Plot
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy..."
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven..."
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i..."
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...

# Rewrite poster path from omdbapi

In [30]:
# API url parameters
url = "http://www.omdbapi.com/?i="
movie_id = "tt0114709"
key = "apikey=" + API_KEY + "&"

In [31]:
# Loop through each title and get poster path 
poster_list = []

for i in range(0,len(test)):
    print(i)
    
    movie_id = test["imdb_id"][i]
    url1 = url + str(movie_id) + "&" + key
    response = requests.get(url1).json()
    poster_list.append(response["Poster"])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545

In [32]:
test["Poster"] = poster_list

In [33]:
test.head()

,id,imdb_id,Title,Genre,Plot,Poster
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",https://m.media-amazon.com/images/M/MV5BMWM5ZD...
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",https://m.media-amazon.com/images/M/MV5BMTgxOT...
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",https://m.media-amazon.com/images/M/MV5BNThmZG...
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,https://m.media-amazon.com/images/M/MV5BYTYxNG...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,https://m.media-amazon.com/images/M/MV5BMTY1NT...

In [34]:
len(test)

546

In [35]:
test["id"].duplicated().any()

True

In [36]:
test = test.drop_duplicates(subset = ["id"])

In [37]:
len(test)

446

In [38]:
test.head(50)

,id,imdb_id,Title,Genre,Plot,Poster
0,863,tt0120363,Toy Story 2,"[16, 35, 10751]","Andy heads off to Cowboy Camp, leaving his toy...",https://m.media-amazon.com/images/M/MV5BMWM5ZD...
1,10193,tt0435761,Toy Story 3,"[16, 10751, 35]","Woody, Buzz, and the rest of Andy's toys haven...",https://m.media-amazon.com/images/M/MV5BMTgxOT...
2,9487,tt0120623,A Bug's Life,"[12, 16, 35, 14, 10751]","On behalf of ""oppressed bugs everywhere,"" an i...",https://m.media-amazon.com/images/M/MV5BNThmZG...
3,8587,tt0110357,The Lion King,"[10751, 16, 18]",A young lion prince is cast out of his pride b...,https://m.media-amazon.com/images/M/MV5BYTYxNG...
4,585,tt0198781,"Monsters, Inc.","[16, 35, 10751]",Lovable Sulley and his wisecracking sidekick M...,https://m.media-amazon.com/images/M/MV5BMTY1NT...
5,9806,tt0317705,The Incredibles,"[28, 12, 16, 10751]",Bob Parr has given up his superhero days to lo...,https://m.media-amazon.com/images/M/MV5BMTY5OT...
6,14160,tt1049413,Up,"[16, 35, 10751, 12]",Carl Fredricksen spent his entire life dreamin...,https://m.media-amazon.com/images/M/MV5BYjBkM2...
7,12,tt0266543,Finding Nemo,"[16, 10751]","Nemo, an adventurous young clownfish, is unexp...",https://m.media-amazon.com/images/M/MV5BZmYxZj...
8,807,tt0114369,Se7en,"[80, 9648, 53]",Two homicide detectives are on a desperate hun...,https://m.media-amazon.com/images/M/MV5BOTUwOD...
9,10681,tt0910970,WALL·E,"[16, 10751, 878]",What if mankind had to leave Earth and somebod...,https://m.media-amazon.com/images/M/MV5BMjExMT...
10,353486,tt2283362,Jumanji: Welcome to the Jungle,"[12, 35, 14]",Four teenagers in detention discover an old vi...,https://m.media-amazon.com/images/M/MV5BODQ0ND...
11,1593,tt0477347,Night at the Museum,"[28, 12, 35, 10751, 14]",Chaos reigns at the natural history museum whe...,https://m.media-amazon.com/images/M/MV5BODJkN2...
12,6795,tt0406375,Zathura: A Space Adventure,"[878, 12, 10751]","After their father is called into work, two yo...",https://m.media-amazon.com/images/M/MV5BMDc1Nz...
13,788,tt0107614,Mrs. Doubtfire,"[35, 18, 10751]","Loving but irresponsible dad Daniel Hillard, e...",https://m.media-amazon.com/images/M/MV5BMjExMD...
14,329,tt0107290,Jurassic Park,"[12, 878]",A wealthy entrepreneur secretly creates a them...,https://m.media-amazon.com/images/M/MV5BMjM2MD...
15,512200,tt7975244,Jumanji: The Next Level,"[12, 35, 14]",As the gang return to Jumanji to rescue one of...,https://m.media-amazon.com/images/M/MV5BOTVjMm...
16,862,tt0114709,Toy Story,"[16, 12, 10751, 35]","Led by Woody, Andy's toys live happily in his ...",https://m.media-amazon.com/images/M/MV5BMDU2ZW...
17,879,tt0102057,Hook,"[12, 14, 35, 10751]",The boy who wasn't supposed to grow up—Peter P...,https://m.media-amazon.com/images/M/MV5BNjMxOD...
18,489,tt0119217,Good Will Hunting,[18],Will Hunting has a genius-level IQ but chooses...,https://m.media-amazon.com/images/M/MV5BOTI0Mz...
19,771,tt0099785,Home Alone,"[35, 10751]",Eight-year-old Kevin McCallister makes the mos...,https://m.media-amazon.com/images/M/MV5BMzFkM2...
20,11520,tt0107050,Grumpy Old Men,[35],"For decades, next-door neighbors and former fr...",https://m.media-amazon.com/images/M/MV5BMzNiYz...
22,2619,tt0088161,Splash,"[35, 10749, 14]",A successful businessman falls in love with th...,https://m.media-amazon.com/images/M/MV5BNTQ5ZG...
23,9552,tt0070047,The Exorcist,"[27, 53, 18]",When a charming 12-year-old girl takes on the ...,https://m.media-amazon.com/images/M/MV5BYWFlZG...
24,346364,tt1396484,It,[27],"In a small town in Maine, seven children known...",https://m.media-amazon.com/images/M/MV5BZDVkZm...
25,49687,tt0058335,Marriage Italian Style,"[18, 35, 10749]",When Domenico first meets Filomena in Naples d...,https://m.media-amazon.com/images/M/MV5BZGU0NG...
26,1813,tt0118971,The Devil's Advocate,"[18, 9648, 53, 27]",Aspiring Florida defense lawyer Kevin Lomax ac...,https://m.media-amazon.com/images/M/MV5BM2M2MD...
27,9360,tt0118615,Anaconda,"[12, 27, 53]","A ""National Geographic"" film crew is taken hos...",https://m.media-amazon.com/images/M/MV5BYzgzMD...
28,239,tt0053291,Some Like It Hot,"[35, 10749, 80]",Two musicians witness a mob hit and struggle t...,https://m.media-amazon.com/images/M/MV5BNzAyOG...
29,11777,tt0110099,I.Q.,"[35, 18, 10749]",Albert Einstein helps a young man who's in lov...,https://m.media-amazon.com/images/M/MV5BN2VkMz...
30,245891,tt2911666,John Wick,"[28, 53]",Ex-hitman John Wick comes out of retirement to...,https://m.media-amazon.com/images/M/MV5BMTU2Nj...
31,335983,tt1270797,Venom,"[878, 28]",Investigative journalist Eddie Brock attempts ...,https://m.media-amazon.com/images/M/MV5BNTFkZj...
32,10625,tt0377092,Mean Girls,[35],"Cady Heron is a hit with The Plastics, the A-l...",https://m.media-amazon.com/images/M/MV5BMjE1MD...
33,619,tt0103855,The Bodyguard,"[28, 18, 10749]",A former Secret Service agent grudgingly takes...,https://m.media-amazon.com/images/M/MV5BYThkMT...
34,301337,tt1389072,Downsizing,"[18, 878]",A kindly occupational therapist undergoes a ne...,https://m.media-amazon.com/images/M/MV5BNDYxND...
35,1443,tt0159097,The Virgin Suicides,"[18, 10749]",A group of male friends become obsessed with f...,https://m.media-amazon.com/images/M/MV5BNTMyMj...
36,453,tt0268978,A Beautiful Mind,"[18, 10749]","In a decades-spanning biopic, brilliant mathem...",https://m.media-amazon.com/images/M/MV5BMzcwYW...
37,9737,tt0112442,Bad Boys,"[28, 35, 80, 53]",Marcus Burnett is a henpecked family man. Mike...,https://m.media-amazon.com/images/M/MV5BMGE1ZT...
38,607259,tt4733624,Fatherhood,"[18, 35]","A widowed new dad copes with doubts, fears, he...",https://m.media-amazon.com/images/M/MV5BMzU5YW...
39,9090,tt0114682,To Wong Foo,"[35, 18]",A cross country trip to Hollywood is cut short...,https://m.media-amazon.com/images/M/MV5BYjZmOT...
40,11846,tt0101862,Father of the Bride,"[35, 10749]","George Banks is an ordinary, middle-class man ...",https://m.media-amazon.com/images/M/MV5BYzM0Yz...
41,11007,tt0349205,Cheaper by the Dozen,"[35, 10751]",The Baker brood moves to Chicago after patriar...,https://m.media-amazon.com/images/M/MV5BMTg0Nz...
42,881,tt0104257,A Few Good Men,[18],When cocky military lawyer Lt. Daniel Kaffee a...,https://m.media-amazon.com/images/M/MV5BMmRlZD...
43,12085,tt0951216,Mad Money,"[28, 35, 80]",Three female employees of the Federal Reserve ...,https://m.media-amazon.com/images/M/MV5BMTgyMT...
44,6520,tt0113071,First Knight,"[28, 12, 18, 10749]",The timeless tale of King Arthur and the legen...,https://m.media-amazon.com/images/M/MV5BNzQ1MD...
45,27205,tt1375666,Inception,"[28, 878, 12]","Cobb, a skilled thief who commits corporate es...",https://m.media-amazon.com/images/M/MV5BMjAxMz...
46,37799,tt1285016,The Social Network,[18],"In 2003, Harvard undergrad and computer genius...",https://m.media-amazon.com/images/M/MV5BOGUyZD...
47,297761,tt1386697,Suicide Squad,"[28, 12, 14]","From DC Comics comes the Suicide Squad, an ant...",https://m.media-amazon.com/images/M/MV5BMjM1OT...
48,177572,tt2245084,Big Hero 6,"[12, 10751, 16, 28, 35]",A special bond develops between plus-sized inf...,https://m.media-amazon.com/images/M/MV5BMDliOT...
50,524,tt0112641,Casino,"[80, 18, 36]","In early-1970s Las Vegas, Sam ""Ace"" Rothstein ...",https://m.media-amazon.com/images/M/MV5BMTcxOW...
51,111,tt0086250,Scarface,"[28, 80, 18]",After getting a green card in exchange for ass...,https://m.media-amazon.com/images/M/MV5BNjdjNG...

In [39]:
outname = 'tmdb_movies_list'

outdir = '../Resources'
if not os.path.exists(outdir):
    os.mkdir(outdir)

fullname = os.path.join(outdir, outname)    

test.to_csv(fullname, index= False)